@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,500);

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.App {
  text-align: center;
  font-family: 'Vollkorn',  serif;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

body {
  background-color: #333;
  color: #333;
  font-family: 'Courgette', sans-serif;

}
#quote-box {
  border-radius:3px;
  position:relative;
  
  width:450px;
  padding:40px 50px;
  display:table;
  background-color:#fff;
  border-radius:50px;
}
#new-quote{
  background-color:;
  float:right;
}
#tweet-quote{
  float:left;
}#author{
  text-align:right;
  font-size: small;
  padding: 5px 5px 20px 5px;
}